.subtask_list_enhanced_control {
    overflow: auto;
    margin-bottom: -9px;
}

.simple-tree-table-icon {
    color: black;
}

#issue_tree > p {
    margin-bottom: 5px;
}

.contextual.tree_table_control {
    float: left;
    margin-bottom: 5px;
    padding: 2px 7px 2px 2px;
}

.tree_table_control a {
    background-position: 5px 50%;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-top: 2px;
}

tr.issue:not(.ui-unread) td.subject:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    margin-bottom: -1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #A4A4A4;
    border-radius: 50%;
}

.simple-tree-table-icon {
    /*display: inline-block;*/
    /*width: 1.5em;*/
    /*line-height: 1.5em;*/
    /*margin: 0.1em;*/
    background-color: inherit !important;
    /*text-align: center;*/
    /*cursor: pointer;*/
}
.simple-tree-table-icon {
    color: unset;
}

.simple-tree-table-opened .simple-tree-table-icon:after { content: "" !important; }
.simple-tree-table-closed .simple-tree-table-icon:after { content: "" !important; }
